# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=610f8b09-483f-4413-b9d9-8c636bd543fb

    # Set to true to disable all reporting
    B:opt-out=false
}


