# Configuration file

api {
    B:DisableApiCalls=false
    B:DontAllowApiOnMobs=false
}


debugging {
    B:AutoProfilingOn=false
    B:BuildPole=false
}


general {
    B:AnnounceCommands=true
    I:Difficulty=4
    I:Dimensions <
        0
     >
    B:EasyFind=true
    B:ExportLists=true
    I:FrequencyScale=6
    B:IncludeVanillaChestLoot=false
    B:InstallThemes=true
    B:InstallThemesByCommand=true
    I:MinChunkXY=32
    S:NeverInBiomeTypes <
        END
     >
    B:ObeyFeatureSpawningRule=true
    B:OnlySpawnInListedDims=true
    B:SpawnWithWordgen=true
    B:StingyWithLoot=false
}


